@page "{vId:int}"
@model VideosManagementSystem.Pages.User.VideoDetailsModel
@{
    ViewData["Title"] = "VideoDetails";
}


<div class="container-fluid video-details">
    <div class="container">
      
        <div class="allvid-details">

            <h2 class="video-details-heading">Details of @Model.eachVideo.VideoName</h2>

            <div class="row">

                <div class="col-3">
                    <h5>Release Year</h5>
                </div>
                <div class="col-9">
                    <h6>@Model.eachVideo.YearOfRelease</h6>
                </div>

                <div class="col-3">
                    <h5>Language</h5>
                </div>
                <div class="col-9">
                    <h6>@Model.eachVideo.Language</h6>
                </div>

                <div class="col-3">
                    <h5>Director</h5>
                </div>
                <div class="col-9">
                    <h6>@Model.eachVideo.Director</h6>
                </div>

                <div class="col-3">
                    <h5>Actor</h5>
                </div>
                <div class="col-9">
                    <h6>@Model.eachVideo.Actor</h6>
                </div>

                <div class="col-3">
                    <h5>Description</h5>
                </div>
                <div class="col-9">
                    <h6>@Model.eachVideo.Description</h6>
                </div>

                <div class="col-3">
                    <h5>Number of Copies Available</h5>
                </div>
                <div class="col-9">
                    <h6>@Model.eachVideo.NoOfCopies</h6>
                </div>

            </div>

            <form method="post">
                <input type="submit" class="btn addvidrecord-btn btn-success" value="Add Video To Your Account" />
            </form>

        </div>


    </div>
</div>